html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 660px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  padding-left: 30px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 100px;
}

.form-signin input[type="text"]:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* -----Image------*/

.image {
  width: 360px;
  height: 100px;
}

/* -----Message d'erreur !------*/

span {
  color: red;
  text-align: center;
  font-size: small;
}

/* -------------------------- REDIMENSIONNEMENT ---------------------------*/

 @media (max-width: 768px) {
      
  /* ------------ Redimensionnement du logotype pour la version mobile ------------*/  

        .image {
          width: 80%;
          height: 40%;
        }

        /* ----------- Redimensionnement du message d'erreurs pour la version mobile  -----------*/

         span {
          font-size: x-small;
        }

        .btn-primary {
          padding-left: 20px;
          padding-right: 20px;
        }

    }