{% extends "base.html" %}
{% block content %}
  <h1 class="h3 mb-3 font-weight-normal"><strong>WIKICIV-LIST</strong></h1>
  <hr>
  <br>
  <h5 class="h3 mb-3 font-weight-normal">Une application web servant à générer des listes d'articles Wikipédia à améliorer lors d'ateliers de contribution collaborative (Edit-a-thon).
  <br>Cette application a été conçue par le <em>Club Developers</em> de  <a href="https://wikimedia.ci" target="_blank">Wikimédia Côte d'Ivoire</a>.
  </h5>
  <br>
  <br>
{% endblock %}
