{% extends "base.html" %}
{% block content %}
  <h3><strong>À PROPOS</strong></h3>
  <hr>
  <br>
  <h4>En savoir plus sur l'équipe chargée de la maintenance de Wikiciv-List, comment et pourquoi le projet a démarré et comment s'impliquer.</h4>

  <h4><strong>Équipe</strong></h4>
  <P>Wikiciv-List est maintenu par une petite équipe de développeurs-bénévoles sur GitHub. Nous cherchons activement à développer cette équipe et nous serions ravis de vous entendre si vous êtes enthousiasmé par le développement en Python et l'utilisation du framework Flask.</P>
  <br>
  <br>
  <h4><strong>L'histoire</strong></h4>
  <P>Initialement créé par un étudiant et un développeur de la Fondation Wikimedia, Wikiciv-List est devenu l'un des outils important pour Wikimedia Côte d'Ivoire. Il est considéré comme le générateur des articles wikipédia à améliorer.
  <br>
  <br>
  L'application Wikiciv-List a été créée en mi-mars 2019 par Samuel Guébo et Paul Bouaffou lors du programme dénommé <i>RENCONTRE MENSUELLE POUR LA FORMATION DES DÉVELOPPEURS</i>. Cet outil a été conçu avec le langage Python et le framework Flask. Quelques mois après le début du développement, il y eu maints séances de hack ; et celles-ci ont permis l'apparition des développeurs de tous niveaux pour une meilleure amélioration du projet.
  <br>
  <br>
  Malgré la mise en ligne le 26 juin 2019, nous n'avions cessé d'améliorer les fonctionnalités de l'application et nous continuons de le faire aujourd'hui.
  Notre intention est de réunir de nombreux développeurs-bénévoles afin de faire grandir notre petite communauté et développer des projets open-source qui seront aux services de Wikimedia Côte d'Ivoire et du monde.
  </P>
  <br>
  <br>
  <h4><strong>Être impliqué</strong></h4>
  <p>Impliquez-vous dans le développement de Wikiciv-List en ouvrant un problème ou en soumettant une demande d'extraction. Rejoignez-nous sur <a href="https://github.com/paulbouaffou/wikiciv-list" target="_blank" title="Code Source">GitHub</a> pour savoir comment nous développons.</p>
  <br>
  <br>


{% endblock %}
