{% extends "base.html" %}
{% block content %}

<div class="form-signin">
    <div class="alert alert-light" role="alert">
      <h2>STATISTIQUES</h2>
      <hr>
      <p>Données mises à jour le 28/08/2020</p>
    </div>
    <div class="alert alert-light" role="alert">
      <div id="chartContainer" style="height: 200px; width: 100%;"></div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="alert alert-light" role="alert">
          123
        </div>
      </div>
      <div class="col-sm-4">
        <div class="alert alert-light" role="alert">
          456
        </div>
      </div>
      <div class="col-sm-4">
        <div class="alert alert-light" role="alert">
          789
        </div>
      </div>
    </div>
</div>

{% endblock %}