<!DOCTYPE html>
<html lang="fr">
<head>
  <title>WIKICIV-List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="{{url_for('static', filename='images/logo-wikidev.ico')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
   <div class="container">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   				<span class="navbar-toggler-icon"></span>
   	</button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
     <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('home')}}" title="Page d'accueil"><i class="fa fa-home"></i> Accueil <span class="sr-only">(courant)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.wikimedia.ci/" title="Wikimedia Côte d'Ivoire" target="_blank"><i class="fa fa-users"></i> Wikimedia CIV </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('apropos')}}" title="À propos de l'applicatione"><i class="fa fa-file-text"></i> À Propos </a>
      </li>
    </ul>
  </div>
  </div>
</nav>
<br>
<br>
<br>
<br>
<br>
<br>
<main role="main" class="container">
  <h1 class="h3 mb-3 font-weight-normal"><strong>WIKICIV-LIST</strong></h1>
  <hr>
  <br>
  <h5 class="h3 mb-3 font-weight-normal">Une application web pour lister tous les articles wikipédia à problèmes de la communauté WIKIMEDIA CÔTE D'IVOIRE, afin d'organiser un Edit-A-Thon.
  <br>Cette application a été conçue par <a href="https://github.com/samuelguebo" target="_blank">Samuel Guébo</a> et <a href="https://github.com/paulbouaffou" target="_blank">Paul Bouaffou</a>.
  </h5>
  <br>
  <br>
</main>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="footer mt-auto py-3">
  <div class="container">
    <hr>
    <br>
    <span class="text-muted">Licence: MIT. Tous droits réservés © 2019 - <a href="https://github.com/paulbouaffou/elc-bot-app" target="_blank">Code source disponible sur GitHub</a>.</p></span>
  </div>
</footer>
</body>
</html>
