<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{{title}}</title>

      <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">

      <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">

      <!-- Favicon -->
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body class="text-center">
    {% block content %}{% endblock %}
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>
