{% extends "base.html" %}
{% block content %}
<div class="text-center">
  <form class="form-signin" method="POST">
    <img class="mb-4" src="{{url_for('static', filename='images/wikiciv.png')}}" alt="logo-wikimediaciv" width="180" height="180">
    <label for="inputNumber" class="sr-only">Choix du nombre</label>
    <input name="limit" type="number" id="inputNumber" class="form-control" placeholder="Saisissez votre nombre..." required autofocus>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Afficher</button>
  </form>
</div>

{% if articles %}
  <div id="results-table">
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Articles</th>
        <th scope="col">Templates</th>
      </tr>
    </thead>
    <tbody>


        {% if articles|length > 0 %}
        {% for article in articles %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td><a href="https://fr.wikipedia.org/wiki/{{article.title}}">{{article.title}}</a></td>
          <td>
            {% for template in article.templates[0:5] %}
              <span class="badge badge-primary">{{template["*"]}}</span>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
        {% else %}
        <h3>There are no information in database</h3>
        {% endif %}

    </tbody>
   </table>
  <br>
  <br>
  <br>
  <hr>
  <br>
  <a href="{{url_for('home')}}" class="btn btn-primary float-right"><i class="fa fa-close"></i> Fermer </a>
  </div>
{% endif %}
{% endblock %}
