<!DOCTYPE html>
<html lang="fr">
<head>
  <title>WIKICIV-List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="{{url_for('static', filename='images/logo-wikidev.ico')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
   <div class="container">
    <div class="collapse navbar-collapse" id="navbarCollapse">
     <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('home')}}" title="Page d'accueil"><i class="fa fa-home"></i> Accueil <span class="sr-only">(courant)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.wikimedia.ci/" title="Wikimedia Côte d'Ivoire" target="_blank"><i class="fa fa-users"></i> Wikimedia CIV </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('apropos')}}" title="À propos de l'applicatione"><i class="fa fa-file-text"></i> À Propos </a>
      </li>
    </ul>
  </div>
  </div>
</nav>
<br>
<br>
<br>
<main role="main" class="container">
<div class="text-center">
  <form class="form-signin" method="POST">
    <img class="mb-4" src="{{url_for('static', filename='images/wikiciv.png')}}" alt="logo-wikimediaciv" width="180" height="180">
    <label for="inputNumber" class="sr-only">Choix du nombre</label>
    <input name="limit" type="number" id="inputNumber" class="form-control" placeholder="Saisissez votre nombre..." required autofocus>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Afficher</button>
  </form>
</div>

{% if articles %}
  <div id="results-table">
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Articles</th>
        <th scope="col">Templates</th>
      </tr>
    </thead>
    <tbody>


        {% if articles|length > 0 %}
        {% for article in articles %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td><a href="https://fr.wikipedia.org/wiki/{{article.title}}">{{article.title}}</a></td>
          <td>
            {% for template in article.templates[0:5] %}
              <span class="badge badge-primary">{{template["*"]}}</span>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
        {% else %}
        <h3>There are no information in database</h3>
        {% endif %}

    </tbody>
   </table>
  <br>
  <br>
  <a href="{{url_for('home')}}" class="btn btn-primary float-right"><i class="fa fa-close"></i> Fermer </a>
  </div>
{% endif %}

</main>
<br>
<br>
<br>
<br>
<footer class="footer mt-auto py-3">
  <div class="container">
    <hr>
    <br>
    <span class="text-muted">Licence: MIT. Tous droits réservés © 2019 - <a href="https://github.com/paulbouaffou/elc-bot-app" target="_blank">Code source disponible sur GitHub</a>.</p></span>
  </div>
</footer>
</body>
</html>
